
/* GESTION DE TOUS LES STYLES */


/* reset */

* {
    z-index: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

/* style */

a {
    color: inherit;
    text-decoration: none;
}

header > nav {
    background-color: #0056AF;
    height: 44px;
}
    header .logo {
        height: 86px;
        overflow: hidden;
    }
        header .logo img {
            position: relative;
            height: 160px;
            top: -40px
        }
    header nav > ul {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
    }
        header nav > ul > a {
            height: 100%;
        }
        .menu {
            padding: 10px 15px;
            height: 100%;
            flex-basis: 130px;
            color: #fff;
            white-space: nowrap;
            border-color: #fff;
            border-right: dotted 1px;
            margin: 0 1px;
            transition: background-color 200ms;
        }
        .menu:hover {
            background-color: rgb(27, 99, 177);
        }

body {
    min-height: 100vh;
    background-image: url('images/background.jpg');
    background-position-x: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.my-container {
    width: 990px;
    padding: 0 13px;
}
    .my-content {
        margin: 0 67px;
    }

.the-title {
    text-align: center;
    font-style: bold;
    margin: 20px;
}
.choice {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
    .my-card {
        margin: 10px;
        width: 250px;
        height: 370px;
        text-align: center;
    }
        .my-card-cadre {
            overflow: hidden;
            width: 230;
            height: 230;
        }
        
            .my-card-image {
                height: 100%;
            }
        .my-card-name {
            font-size: 16px;
            height: 70px;
            color: #0056AF;
        }
        .my-card-price {
            font-size: 25px;
            color: #222;
        }

.bicol {
    display: flex;
    justify-content: space-around;
}
    .blue-text {
        color: #0056AF;
    }
    .grey-text {
        color: gray;
    }
    .bold {
        font-weight: bold;
    }
    .price {
        font-size: 27px;
    }
    .marque, .price {
        margin: 20px 0;
    }
    .name {
        margin: 30px 15px;
        text-align: center;
    }

.ht {
    height: 100%;
    width: 100%;
}
    .ht:hover {
        background-color: #b9d1f3;
        color: #0056AF;
    }
.ht-items {
    width: 140px;
    color: rgb(0, 0, 0);
    top: 44px;
    left: -2px;
}
.ht-item {
    background-color: #b9d1f3;
    padding: 10px;
}

.search {
    position: relative;
    left: 742px;
    top: -37px;
}

.pages {
    display: flex;
    padding: 10px;
    margin: 10px;
    background-color: #0056AF;
    color: #fff;
    border-radius: 10px;
}
    .pages-text {
        margin: 0 10px;
    }
    .pages input {
        width: 30px;
        margin: 0 5px;
    }

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px 290px;
    background-color: #0056AF;
    color: #fff;
    border-radius: 10px;
}
    .form input {
        margin: 2px;
    }

.log-card {
    position: relative;
    z-index: 1;
    top: -127px;
    left: 807px;
    background-color: #0056AF;
    padding: 10px;
    border-radius: 5px;
    width: min-content;
    white-space: nowrap;
    color: #fff;
    transition: background-color 200ms;
}
    .log-card:hover {
        background-color: #1b63b1;
    }

input[type="submit"] {
    background-color: #fff;
    border: none;
    color: #0056AF;
    padding: 2px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10%;
    border: 2px solid #fff;
    transition: border 200ms;
}
    input[type="submit"]:hover {
        border: 2px solid rgb(209, 213, 255);
    }

.col-right {
    padding: 0 20px;
}

.error {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fff;
    background-color: #a80404;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 50px;
    font-size: 20px;
}

.shadow {
    box-shadow: 0 5px 5px #c4c4c4;
}

.cadre {
    overflow: hidden;
    padding: 0;
    width: 200px;
    height: 200px;
    border-radius: 40%;
}
    .cadre-anim {
        transition: border-radius 200ms, width 200ms, height 200ms, padding 200ms;
    }
    .cadre-anim:hover {
        border-radius: 10%;
        width: 350px;
        height: 350px;
        padding: 20px;
    }

.avatar, .produit {
    position: relative;
    z-index: 1;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.ht * {
    z-index: 2;
}
.ht-item {
    transition: background-color 100ms;
}
    .ht-item:hover {
        background-color: #c9daf3;
    }

.description {
    text-align: justify;
}
.description p {
    padding: 15px 0;
}
.big-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-size: 30px;
}
.separator {
    height: 30px;
}

.panier table {
    padding: 10px;
    background-color: #1b63b1;
    border-radius: 10px;
    color: #fff;
}
.panier tfoot td:last-child, .panier th {
    border-right: 1px dotted #fff;
    background-color: #fff;
    color: #1b63b1;
    border-radius: 5px;
    height: 30px;
}
.panier td {
    height: 40px;
    text-align: center;
    transition: background-color 500ms;
}
.panier td:last-child, .panier tfoot *, .panier thead * {
    white-space: nowrap;
}
.panier td:first-child {
    width: 50px;
}
/* :not(:last-child) */
.panier tr:not(:last-child) .border-dotted {
    border-bottom: 1px dotted #fff;
}
.panier tr .border-dotted:not(:last-child) {
    border-right: 1px dotted #fff;
}
    .panier tbody td:hover {
        background-color: #1a5a9e;
        color: #fff;
    }


/* Flocons */

@keyframes chute {
    0% {transform: translateY(0px);}
    80% {opacity: 1;}
    100% {
        transform: translateY(500px);
        opacity: 0;
    }
}

.flocon {
    animation-name: chute;
    animation-iteration-count: infinite;
    animation-direction: normal; /* or: normal */
    animation-timing-function: ease; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
    animation-fill-mode: forwards; /* or: backwards, both, none */
}
    .flocon.f1 {
        animation-duration: 6s; /* or: Xms */
        animation-delay: 0s; /* or: Xms */
    }
    .flocon.f2 {
        animation-duration: 5s; /* or: Xms */
        animation-delay: 2s; /* or: Xms */
    }
    .flocon.f3 {
        animation-duration: 4s; /* or: Xms */
        animation-delay: 4s; /* or: Xms */
    }
    .flocon.f4 {
        animation-duration: 5s; /* or: Xms */
        animation-delay: 6s; /* or: Xms */
    }
    .flocon.f5 {
        animation-duration: 6s; /* or: Xms */
        animation-delay: 8s; /* or: Xms */
    }