
/*
    Framework JS/CSS pour mon menu déroulant 😇
*/

/* Menus */

.ht,    .ht-down,   .ht-up,     .ht-left,   .ht-right,
.ht-1,  .ht-down-1, .ht-up-1,   .ht-left-1, .ht-right-1,
.ht-2,  .ht-down-2, .ht-up-2,   .ht-left-2, .ht-right-2,
.ht-3,  .ht-down-3, .ht-up-3,   .ht-left-3, .ht-right-3,
.ht-4,  .ht-down-4, .ht-up-4,   .ht-left-4, .ht-right-4,
.ht-click,    .ht-click-down,   .ht-click-up,     .ht-click-left,   .ht-click-right,
.ht-click-1,  .ht-click-down-1, .ht-click-up-1,   .ht-click-left-1, .ht-click-right-1,
.ht-click-2,  .ht-click-down-2, .ht-click-up-2,   .ht-click-left-2, .ht-click-right-2,
.ht-click-3,  .ht-click-down-3, .ht-click-up-3,   .ht-click-left-3, .ht-click-right-3,
.ht-click-4,  .ht-click-down-4, .ht-click-up-4,   .ht-click-left-4, .ht-click-right-4 {
    position: relative;
    z-index: 1;
}


/* Item container */

.ht-items,
.ht-items-1,
.ht-items-2,
.ht-items-3,
.ht-items-4 {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    z-index: 1;
}


/* Items */

.ht-item,
.ht-item-1,
.ht-item-2,
.ht-item-3,
.ht-item-4 {
    white-space: nowrap;
}


/* Menu up */

.ht-up      .ht-items,   
.ht-up-1    .ht-items-1,     
.ht-up-2    .ht-items-2,     
.ht-up-3    .ht-items-3,     
.ht-up-4    .ht-items-4,
.ht-click-up      .ht-items,   
.ht-click-up-1    .ht-items-1,     
.ht-click-up-2    .ht-items-2,     
.ht-click-up-3    .ht-items-3,     
.ht-click-up-4    .ht-items-4 {
    transform: translateY(-100%);
    top: -100%;
}


/* Menu left */

.ht-left    .ht-items,   
.ht-left-1  .ht-items-1,     
.ht-left-2  .ht-items-2,     
.ht-left-3  .ht-items-3,     
.ht-left-4  .ht-items-4,
.ht-click-left    .ht-items,   
.ht-click-left-1  .ht-items-1,     
.ht-click-left-2  .ht-items-2,     
.ht-click-left-3  .ht-items-3,     
.ht-click-left-4  .ht-items-4 {
    transform: translateX(-100%);
    top: 0em;
    left: 0%;
}


/* Menu right */

.ht-right    .ht-items,   
.ht-right-1  .ht-items-1,     
.ht-right-2  .ht-items-2,     
.ht-right-3  .ht-items-3,     
.ht-right-4  .ht-items-4,
.ht-click-right    .ht-items,   
.ht-click-right-1  .ht-items-1,     
.ht-click-right-2  .ht-items-2,     
.ht-click-right-3  .ht-items-3,     
.ht-click-right-4  .ht-items-4 {
    top: 0em;
    left: 100%;
}